* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    user-select: none;
}

.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}


/* scrollbar */

::-webkit-scrollbar {
    display: none;
}

h4 {
    position: absolute;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: white !important;
    margin: 20px;
}

.percent {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 175px;
    width: 1px;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: background 0.15s ease;
}

@media(max-width: 900px) {
    .percent {
        display: none;
    }
}

.icon {
    filter: invert(1);
    margin-right: 20px;
}

nav {
    font-weight: 300;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
}

nav .arg {
    position: absolute;
    font-size: 10px;
    margin: 0 5px;
}

#hero {
    height: 85vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero .title {
    position: relative;
}

#hero .title h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: "Sakurata";
    font-size: 200px;
}

#hero .title h1 span {
    position: absolute;
    top: 15px;
    right: -50px;
    font-size: 50px;
    font-weight: 300;
}

#hero .title .archive {
    position: absolute;
    left: 100px;
    top: 100px;
}

#hero .title .archive h2 {
    font-family: "Sakurata";
    color: red;
    font-size: 75px;
}


/* section about */

#about {
    height: 100vh;
    width: 100%;
}

#about .aboutUs {
    padding: 150px;
}

#about .aboutUs .content {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#about .aboutUs .content .text-left {
    padding: 20px;
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}

#about .aboutUs .content .text-right {
    padding: 50px;
    font-size: 15px;
}


/* services */

#service {
    height: 100vh;
    width: 100%;
}

#service .services {
    padding: 150px;
}

#service .content {
    position: relative;
    padding: 40px;
    font-size: 40px;
    font-weight: 500;
    text-align: start;
}

#service .content span {
    font-size: 20px;
    font-weight: 300;
}


/* formation */

#formation {
    height: 100vh;
    width: 100%;
}

#formation .outil {
    padding: 150px;
    position: relative;
}

#formation .outil .col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 75%;
    margin-left: 25%;
}

#formation .outil .col-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 100%;
}

#formation .outil .col-1 p {
    width: 50%;
}

#formation .outil .col-1 ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formation .outil .col-1 ul li {
    list-style: none;
    text-transform: capitalize;
}

#formation .outil .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#formation .outil .col-2 p {
    width: 50%;
}

#formation .outil .col-2 ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formation .outil .col-2 ul li {
    list-style: none;
    text-transform: capitalize;
}


/* paris */

#paris {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding-left: 150px;
}

#paris h3 {
    position: relative;
    font-size: 200px;
    font-weight: 300;
    line-height: 175px;
    font-family: 'Monument';
}

#paris h3 span {
    position: absolute;
    font-size: 30px;
    font-weight: 300;
    top: -25px;
}


/* contact */

#contact {
    height: 100vh;
    width: 100%;
}

#contact .reseau {
    padding: 150px;
    position: relative;
    height: 100%;
}

#contact .col {
    position: absolute;
    bottom: 150px;
    font-size: 30px;
}

#contact ul {
    list-style: none;
}

#contact .col p {
    margin-bottom: 20px;
}

#contact ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    transition: .5s ease-in-out;
}

#contact ul li a:hover {
    color: grey;
}


/* footer */

#footer {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    font-size: 20px;
}


/* responsive */

@media (max-width: 900px) {
    #about .aboutUs,
    #service .services,
    #formation .outil,
    #contact .reseau {
        padding: 50px;
    }
    html,
    body {
        font-size: 14px;
    }
    .container {
        padding: 0px;
    }
    /* hero */
    #hero .title h1 {
        font-size: 100px;
    }
    #hero .title .archive {
        left: -25px;
        top: 50px;
        font-size: 12px;
    }
    #hero .title .archive h2 {
        font-size: 40px;
    }
    /* about */
    #about .aboutUs .content {
        padding: 20px;
    }
    #about .aboutUs .content .text-left {
        padding: 20px;
        margin: 0;
        font-size: 25px;
        font-weight: 500;
    }
    #about .aboutUs .content .text-right {
        padding: 20px;
        font-size: 15px;
    }
    /* services */
    #service .content {
        font-size: 25px;
        padding: 40px 10px;
    }
    #service .content span {
        font-size: 15px;
    }
    /* formation */
    #formation .outil .col {
        width: 100%;
        margin-left: 0;
        padding: 40px 10px;
    }
    /* paris */
    #paris {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #paris h3 {
        font-size: 82px;
        line-height: 82px;
    }
    #paris h3 span {
        font-size: 10px;
    }
}

@media (max-width: 568px) {
    nav {
        font-size: 10px;
    }
    /* hero */
    #hero .title h1 {
        font-size: 60px;
    }
    #hero .title .archive {
        left: -30px;
        top: 65px;
        font-size: 10px;
    }
    #hero .title .archive h2 {
        font-size: 35px;
    }
    /* paris */
    #paris {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #paris h3 {
        font-size: 60px;
        line-height: 60px;
    }
    #paris h3 span {
        font-size: 10px;
    }
}