@font-face {
    font-family: 'SAKURATA';
    src: url('/font/SAKURATA.woff2') format('woff2'), url('/font/SAKURATA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument';
    src: url('/font/MonumentExtended-Regular.woff2') format('woff2'), url('/font/MonumentExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 100%;
    user-select: none;
    background: black;
    color: #fff;
    scroll-behavior: smooth;
}


/* scrollbar */

::-webkit-scrollbar {
    display: none;
}

h4 {
    position: absolute;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: white !important;
    margin: 20px;
}

.percent {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 175px;
    width: 1px;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: background 0.15s ease;
}

@media(max-width: 900px) {
    .percent {
        display: none;
    }
}

.icon {
    filter: invert(1);
    margin-right: 20px;
}

nav {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

nav .subject {
    position: relative;
}

nav .subject span {
    position: absolute;
    margin: 2px 3px;
    font-size: 8px;
}

#hero,
#about,
#services,
#formation,
#contact {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 100px;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px;
}


/* hero */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0;
}

#hero .container h1 {
    font-size: 150px;
    font-family: 'SAKURATA';
    text-shadow: 0px 0px 10px #fff;
}

#hero .container .archive {
    width: 100%;
}

#hero .container .archive h2 {
    display: inline-block;
    font-size: 50px;
    font-family: "SAKURATA";
    color: crimson;
    margin: 40px;
}


/* footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* about */

#about .content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

#about .content .text {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

#about .content .text-left {
    font-size: 35px;
}

#about .content .text-right {
    padding: 0 30px;
}


/* services */

#services .content .text {
    font-size: 35px;
}

#services .content .text span {
    font-size: 15px;
}


/* formation */

#formation .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#formation .content .col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    margin-left: 20%;
}

#formation .content .col p {
    padding-right: 20px;
    width: 25%;
}

#formation .content .col ul {
    width: 75%;
}

#formation .content .col ul li {
    list-style: none;
}


/* localisation */

#local .container h3 {
    font-size: 120px;
    font-family: 'Monument';
    font-weight: lighter;
}

#local .container h3 span {
    position: absolute;
    font-size: 35px;
}


/* contact*/

#contact .container {
    padding-top: 150px;
}

#contact .content .col {
    position: absolute;
    bottom: 120px;
}

#contact .content .col ul li {
    list-style: none;
}

#contact .content .col ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}


/* responsive */

@media (max-width:900px) {
    #hero .container h1 {
        font-size: 100px;
        font-family: 'Sakurata';
        text-shadow: 0px 0px 10px #fff;
    }
    .container {
        padding: 75px;
    }
    /* about */
    #about .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about .content .text {
        padding: 0 10px;
        height: 50%;
        display: flex;
        align-items: center;
    }
    #about .content .text-left {
        margin-top: 40px;
        font-size: 35px;
    }
    #about .content .text-right {
        padding: 0 10px;
    }
    /* services */
    #services .content .text {
        font-size: 30px;
    }
    /* formation */
    #formation .content {
        padding: 40px 0 40px 40px;
    }
    #formation .content .col {
        margin-left: 0;
    }
    #formation .content .col p {
        padding-right: 40px;
        width: 50%;
    }
    #formation .content .col ul {
        width: 50%;
    }
    #formation .content .col ul li {
        list-style: none;
    }
    /* localisation */
    #local .container {
        padding: 30px;
    }
    #local .container h3 {
        font-size: 90px;
        font-family: 'Monument';
        font-weight: 300;
    }
    #local .container h3 span {
        position: absolute;
        font-size: 25px;
    }
}

@media (max-width:568px) {
    nav {
        font-size: 12px;
    }
    #hero .container h1 {
        font-size: 80px;
        font-family: 'Sakurata';
        text-shadow: 0px 0px 10px #fff;
    }
    .container {
        padding: 50px;
    }
    /* about */
    #about .content .text-left {
        margin-top: 40px;
        font-size: 30px;
    }
    /* services */
    #services .content .text {
        font-size: 28px;
    }
    /* formation */
    #formation .content {
        padding: 40px 0 40px 40px;
    }
    #formation .content .col {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
    #formation .content .col-2 {
        margin-top: 40px;
    }
    #formation .content .col p {
        padding-right: 20px;
        width: 50%;
    }
    #formation .content .col ul {
        width: 50%;
    }
    #formation .content .col ul li {
        list-style: none;
    }
    /* localisation */
    #local {
        height: 100vh;
    }
    #local .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #local .container h3 {
        font-size: 60px;
        font-family: 'Monument';
        font-weight: 300;
    }
    #local .container h3 span {
        position: absolute;
        font-size: 15px;
    }
}